<h1><%= @user.name %></h1>
<% if @user.places.any? %>

<h3>Your Saved Places</h3>
  <% @user.places.map do |place| %>
  <br /><%= link_to place.name, place_path(place.id) %><br />
    <% up = find_up(user: @user.id, place: place.id) %>

    <% if up.rating != nil  %>
    <p>Your Rating <%= up.rating %></p>
    <% end %>
  <%= form_tag(rank_path(place.id), method: :patch) do %>

  <%= select_tag "rank[]", options_for_select((1..5)) %>
  <%= submit_tag "Rate This Place" %>
  <% end %>
  <%= link_to "Remove from your List", delete_up_path(place.id), method: :delete%><br />
  <% end %>
  <% else %>
  <h3>No Places in your Profile!</h3>

  <% end %>
