
<div id="map-container" >

<div id="map" ></div>
<br>

<div id="out"></div><br><hr>
</div>



<% @places.each do |e| %>


    <div class="card" style="width:300px; margin-bottom: 30px;">

    <div>
      <h4 class="card-title"> <%= e.name %></h4>
      <% if e.img_url %>
      <img class="card-img-top" src=<%= url_for(e.img_url) %> alt="Card image">
      <% end %>
      <p class="card-text">Ranking <%= e.average_rating %></p>
      <p class="card-text">User Adds: <%= e.popularity %></p>
      <%= button_to "See Details", place_path(e.id), method: :get, form_class: "btn btn-primary", id: 'btn' %>
      <input type="hidden" class="lat-div" value="<%=e.four_dec_lat%>" >
      <input type="hidden" class="lng-div" value="<%=e.four_dec_lng%>" >


    </div>
  </div>

    <% end %>


















<script>

function initMap(){

    var options = {
        zoom:12,
        center: {lat:40.7128, lng: -74.0060}
    };


    var map = new google.maps.Map(document.getElementById('map'), options);

    var marker = new google.maps.Marker({
        position: {lat:40.7128, lng:-74.0060},
        map: map
    });

    var markers = [];

    for(var i = 0; i < markers.length; i++ ){
    addMarker(markers[i]);
    }

        function addMarker(coords){
        var lats = document.getElementsByClassName('lat-div');
        var lngs = document.getElementsByClassName('lng-div');

        for(var i = 0; i < lats.length;i++){


               markers.push({lat: lats[i].value, lng: lngs[i].value})


        }


        var marker = new google.maps.Marker({
                    position: coords,
                    map: map
                });


}






   }
















</script>



<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPdhJ7Z6pwRpxtlHG4aYSf2T7XivLBpiY&callback=initMap">
</script>
