 <center>
<p>Please fill in address and press convert button.</p>
<br>
<div>
     <h3> Please copy and paste the values for latitude and longitude in the appropriate fields</h3>

    <input id="address" type="text" placeholder="Enter address here" />
    <button id="btn">Get LatLong</button>
    <div>
        <p>Latitude:
            <input type="text" id="latitude" readonly />
        </p>
        <p>Longitude:
            <input type="text" id="longitude" readonly />
        </p>
    </div>
</div>
</center>



<center id="c">
<h1 class="mb-10">Add a destination</h1>
<div class="form-holder">
<%= form_for @place do |f| %>
<div class="form-group">
<%= f.label :name %>
<br>
<%= f.text_field :name , class: "form-control", id: "name"%>
</div>
<br>
<div class="form-group">
<%= f.label :average_rating %>
<br>
<%= f.text_field :average_rating , class: "form-control", id:"average_ranking" %>
</div>
<br>

<div class="form-group">
<%= f.label :lat %>
<br>
<%= f.text_field :lat , class: "form-control", id:"lat" %>
</div>
<br>

<div class="form-group">
<%= f.label :lng %>
<br>
<%= f.text_field :lng , class: "form-control", id:"lng" %>
</div>
<br>


<div class="form-group">
<%= f.label :kind %>
<br>
<%= f.text_field :kind , class: "form-control", id:"kind"%>
</div>
<br>

<div class="form-group">
<%= f.label :img_url %>
<br>
<%= f.file_field :img_url , class: "form-control"%>
</div>
<br>

<%= f.submit class:"btn btn-primary", id: "place-btn" %>

<% end %>
</div>
</center>



<script>
function showResult(result) {
    document.getElementById('latitude').value = result.geometry.location.lat().toFixed(4);
    document.getElementById('longitude').value = result.geometry.location.lng().toFixed(4);
}

function getLatitudeLongitude(callback, address) {

    address = address || 'New York, New York, United States';

    geocoder = new google.maps.Geocoder();
    if (geocoder) {
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                callback(results[0]);
            }
        });
    }
}

var button = document.getElementById('btn');

button.addEventListener("click", function () {
    var address = document.getElementById('address').value;
    getLatitudeLongitude(showResult, address)
});



</script>
